.Header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.655);
    backdrop-filter: blur(25px);
}
.Header ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}
.Header ul li {
    margin-right: 10px;
}