.Landing{
    max-width: 100%;
    height: 90vh;
}
.Landing-container{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}
.Landing-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}