.Landing{
    max-width: 100%;
    height: 100vh;
}
.Landing-container{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    font-size: 40px;
    margin-left: 1vw;
}
.Landing-container h1{
    margin-left: 2vw;
}
.Landing-container h2{
    margin-left: 2vw;
    font-weight: lighter;
}
.Landing-bar {
    height: 40vh;
    width: 4px;
    background-color: antiquewhite;
}
