.Projects h2 {
    margin-left: 5vw;
}
.Projects-container {
  margin-top:11vh;
  min-height: 89vh;
}
.Projects-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0px;
  padding: 0px;
  min-height: 80vh;
}
.Projects-container ul li {
  width: 26vw;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.Project-info{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.702);
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 5px;
}
.Project-info button{
    background-color: white;
    color: rgb(2,0,36);
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.Project-info button:hover{
    background-color: rgb(2,0,36);
    color: white;
}
.Projects-card:hover > .Project-info{
   opacity: 1;
}
@media (max-width: 1000px) {

  .Projects-container {
    margin-top:11vh;
  }
  .Projects-container ul {
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 180vh;
  }
  .Projects-container ul li {
    width: 60vw;
    min-height: 50vh;
    overflow: hidden;
    position: relative;
  }
  .Project-info{
    color: white;
    opacity: 1;
    background: none;
    position: static;
  }
  .Projects-card img{
    width: 60vw;
    height: 20vh;
  }
}